* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

/* header start */

header {
  display: flex;
  flex-direction: column;
}

/* nav start */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 30%;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.nav-links-container {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 260px;
  justify-content: space-between;
  align-items: center;
}

.nav-link a {
  text-decoration: none;
  color: black;
}

/* nav end */

/* site-intro start */

.site-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 40px;
}

.site-intro h1 {
  padding: 10px;
  font-size: 2rem;
}

.site-intro .unique-word {
  color: #09a8f1;
}

.site-intro p {
  width: 80%;
  text-align: center;
  line-height: 1.6;
}

/* site-intro end */

/* site-pros start */

.site-pros {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.childs-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.child-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.child-container img {
  width: 100px;
  height: 100px;
}

.child-container p {
  padding: 10px;
  text-align: center;
}
/* site-pros end */
/* header end */

/* main start */
/* about-us start */

.about-us {
  display: flex;
  background-color: #f6f6f6;
  justify-content: center;
  align-items: center;
}

.about-us-container {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px;
}

.about-us-img img {
  width: 450px;
}

.about-us-paragraph {
  margin-left: 65px;
  margin-bottom: 20px;
}

.about-us-paragraph h2 {
  font-size: 1.5rem;
}

.about-us-paragraph p {
  font-size: 1rem;
  padding-top: 20px;
  line-height: 1.6;
}

/* about-us end */
/* statistics start */

.statistics {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics-container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.statistics-container .child {
  height: 120px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statistics-container .child .number {
  font-size: 50px;
  color: white;
  font-weight: bold;
}

.statistics-container .child .cls {
  color: white;
  font-size: 0.9rem;
}

.services {
  background-color: #b33938;
}

.designs {
  background-color: #227094;
}

.clients {
  background-color: #208c74;
}
/* statistics end */

/* skills start */

.skills {
  padding: 30px 30px 70px 30px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skills h2 {
  padding: 20px 0 35px 0;
}

.skills-container {
  width: 1000px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-container .child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.skills-container .child .skill-name {
  width: 90px;
  text-align: right;
}

.skills-container .child .progress {
  width: 870px;
  height: 35px;
  background-color: white;
}

.html::after {
  position: absolute;
  padding-right: 5px;
  content: "60%";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 59.5%;
  height: 100%;
  background-color: #09a8f1;
  color: white;
}
.css::after {
  position: absolute;
  padding-right: 5px;
  content: "70%";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 69.5%;
  height: 100%;
  background-color: #09a8f1;
  color: white;
}
.js::after {
  position: absolute;
  padding-right: 5px;
  content: "80%";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 79.5%;
  height: 100%;
  background-color: #09a8f1;
  color: white;
}
.php::after {
  position: absolute;
  padding-right: 5px;
  content: "65%";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 64.5%;
  height: 100%;
  background-color: #09a8f1;
  color: white;
}
.python::after {
  position: absolute;
  padding-right: 5px;
  content: "90%";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 89.5%;
  height: 100%;
  background-color: #09a8f1;
  color: white;
}

/* skills end */
/* main end */

/* footer start */

footer {
  display: flex;
  background-color: #333333;
  color: white;
  justify-content: center;
  align-items: center;
  word-spacing: 1.5px;
}

.footer-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 20px;
}

.designer-name {
  color: #09a8f1;
}

/* footer end */
